@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  padding-top: 2rem;

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 4rem;
    line-height: 59px;
    font-weight: bold;

    .t1 {
      color: #9747FF;
    }
  }

  .paragraph-container {
    font-size: 1.5rem;
  }

.button {
  color: #ffffff;
  font-size: 17px;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  background-color: #9747ff;
  border: 1px solid #9747ff;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0px 6px 0px #6f2fd1;
  transition: all 0.1s ease-in-out;

  &:hover {
    filter: brightness(110%);
  }

  &:active {
    background-color: #8233e8;
    border-color: #8233e8;
    box-shadow: 0px 2px 0px #5c23b8;
    position: relative;
    top: 2px;
  }
}

}
