<section class="card-container">
  <div class="title-container">
    <p class="t1">Fique de olho</p>
    <p>no que importa</p>
  </div>
  <div class="paragraph-content">
    <p>
      Monitoramento em tempo real com alertas inteligentes para sua aplicação
      nunca sair do ar sem você saber.
    </p>
  </div>
    <button class="button">Testar versão demo</button>
  <app-images
    src="../../../assets/img/telefones-grande.png"
    alt="Imagem de dois celulares com o fundo de luz roxa"
  ></app-images>
</section>
